/**********************************************************************************

Project Name: 
Project Description: 
File Name:
Author: Adi Purdila
Author URI: http://www.adipurdila.com
Version: 1.0.0

**********************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Montserrat');


/* ---------- TYPOGRAPHY ---------- */
body {
  font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #1f2225;
  margin: 0;
}

.content-top{
  /*background-image: url('../img/background-image.jpg');*/
  background-image: url('../img/background-image.png');
}

p a {
  color: #2a9ccc;
}
p a:hover {
  color: #1f2225;
}

/* ---------- LAYOUT ---------- */
ul{
  padding-left: 0;
  list-style-type: none;
}

.title-top{
  text-align: center;
}
.title-top h2{
  font-size: 4em;
  margin: 50px 0 0 0;
  color: white;
  display: inline-block;
  line-height: 90%;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  text-shadow: #9e9e76 0 0 10px;
}

.content-left h1{
  width: 80%;
  line-height: 150%;
}
/* ---------- TIMER ---------- */
.timer_area{
  padding-top: 1em;
  margin-bottom: 2em;
  width: 50%;
  margin: 0 auto;
}
ul#countdown {
  text-align: center;
  margin: 0;
}
ul#countdown img{
  filter: drop-shadow(2px 1px 2px rgba(226, 38, 89, 0.46));
}
ul#countdown li {
  display: inline-block;
  text-align: center;
  color: white;
  text-shadow: 1px 5px 7px #151515;
  padding: 0 15px;

}
ul#countdown li span {
  font-size: 3em;
  font-weight: bold;
  line-height: 108px;
  position: relative;
}
ul#countdown p{
  margin-top: -20px;
  color: #e22659;
  font-weight: 700;
  text-transform: capitalize;
}


/* ------ LAYOUT --------*/

.dragon-image1{
  position: absolute;
  top: 600px;
  left: 50px;
  z-index: 1;
}
.dragon-image2{
  position: absolute;
  top: 140px;
  right: 0;
  z-index: 1;
}
.dragon-image3{
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 1;
}
#div_trailer{
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
a#trailer{
  background-color: #e22659;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 15px 40px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 1px 1px 1px #151515;
  text-shadow: #9e9e76 0 3px 10px;
  text-decoration: none;
}
#div_trailer img{
  width: 80%;
}
#social_media{
  text-align: center;
  margin-top: 20px;
}
a{
  text-decoration: none;
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 20px;
}

.sprite-facebook {
    width: 40px;
    height: 40px;
    background-position: -5px -5px;
}

.sprite-twitter {
    width: 40px;
    height: 40px;
    background-position: -55px -5px;
}

.sprite-youtube {
    width: 40px;
    height: 40px;
    background-position: -105px -5px;
}
.trailer_videos{
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.trailer_videos li{
  width: 20%;
  flex-wrap: wrap;
  text-align: center;
  
}
.trailer_videos img{
  width: 100%;
  box-shadow: 2px 2px 2px #151515;
}
.trailer_videos span{
  font-size: 70%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
/* ------------ CONTENT BOTTOM ---------- */
.content-bottom{
  background-color: #dadada;
  margin-top: -30px;
  color: #333333;
}
.content-bottom .container{
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
.content-bottom h1{
  color: #1d1d1e;
  line-height: 1;
}
.quotes{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.quotes a{
  color: #333333
}
.quotes-box{
  width: 30%;
  text-align: center;
}
.quotes-box img{
  width: 100%;
}
.quotes span{
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 80%;
}

/* --------- media query para movil ---*/

/*@media screen and (min-width:600px) and (max-width: 800px){*/
@media screen and (max-width: 600px){
  .title-top h2{
    font-size: 3em;
    margin: 20px 0 0 0;
  }
  a#trailer{
    font-size: 1.5em;
  }  
  video{
    -webkit-filter: blur(0px) grayscale(0%);
  }
  .no-mobile{
    display: none;
  }
  .timer-area{
    margin: 0;
  }
  ul#countdown li{
    padding: 0 5px;
  }
  ul#countdown li span{
    font-size: 2em;
  }
  #div_trailer{
    width: 100%;
  }
  #div_trailer img{
    width: 100%;
  }
  .trailer_videos{
    display: initial;
  }
  .trailer_videos li{
    width: 100%;
    margin-bottom: 20px;
  }
  .trailer_videos span{
    padding: 0 30px;
  }
  /* ---------- BOTTOM -------*/
  .container{
    width: 100%;
  }
  .quotes{
    display: initial;
  }
  .quotes-box{
    width: 100%;
  }
  .content-bottom h1{
    text-align: center;
  }
}